<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317622863603-g99bkh4mcbd7pd66jp2lqo5mmv9gu3cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317622863603-g99bkh4mcbd7pd66jp2lqo5mmv9gu3cd</string>
	<key>API_KEY</key>
	<string>AIzaSyAeiz5kazsaXyv_memQ0B_a4qoK17Rs7Co</string>
	<key>GCM_SENDER_ID</key>
	<string>317622863603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jiranjigyo</string>
	<key>PROJECT_ID</key>
	<string>jiranjigyo-d8ce8</string>
	<key>STORAGE_BUCKET</key>
	<string>jiranjigyo-d8ce8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317622863603:ios:32086f0d0219f01b4b5986</string>
</dict>
</plist>